/* App */
.App {
  height: 100%;
  font-weight: 700;
  font-size: 1.5rem;
}

.Light {
  background-color: #a3e3ce;
  color: #322d31;
}

button {
  font-size: 1rem;
  font-weight: 700;
}

.Dark {
  background-color: #322d31;
  color: #a3e3ce;
}
/* App */

/* Visible-Invisible */
.Visible {
  visibility: visible !important;
}
/* Visible-Invisible */

/* Modal */
.Modal {
  position: absolute;
  visibility: hidden;
  top: 30%;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 11;
  width: 80%;
  height: 40%;
  background-color: inherit;
  color: inherit;
}

.ModalButtonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.ModalButtonsContainer > button {
  width: 4rem;
}

.BackDrop {
  position: absolute;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
/* Modal */

/* Header */
.Banner {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.Banner-Clickable-Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Banner-Clickable-Container > * {
  margin-left: 0.5rem;
}

.LightSwitch {
  cursor: pointer;
}
/* Header */

/*PageContent*/
.Content {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*PageContent*/

/* Acc-Controller */
.Acc-Controller {
  height: 10%;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.Acc-Controller > button {
  height: auto;
}
/* Acc-Controller */

/*Account-Wide-Tasks*/
.Account-Wide-Tasks {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/*Account-Wide-Tasks*/

/* Select Componenet */
.Select-Group {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}

.Select-Component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/* Select Componenet */

/*Char-Controller*/
.Char-Controller {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-left: 3px solid #9ac3a6;
  border-right: 3px solid #9ac3a6;
  border-top: 3px solid #9ac3a6;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.Char-Controller > button {
  width: 100%;
  height: 2rem;
  border-bottom: 5px solid #9ac3a6;
}

/*Char-Controller*/

/*Char-Tasks*/
.Char-Tasks {
  background-color: #5e896f;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.Char-Tasks > .Select-Group,
h3 {
  margin: 1rem;
  text-align: center;
}
/*Char-Tasks*/

img {
  width: 55px;
}

.Border {
  border-left: 3px solid #9ac3a6;
  border-right: 3px solid #9ac3a6;
  border-bottom: 3px solid #9ac3a6;
}

.Selected {
  border-bottom: none !important;
  background: #5e896f;
  color: #a3e3ce;
}

.Danger {
  background: #d9534f;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 9px;
}

.Footer {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
